*{
    margin: 0;
	padding: 0;
}

body {
	background: #dac18b;
	color: #393525;
	 font-family: "Gabarito", sans-serif;
	
}

.main-heading {
	font-size: 2.5rem;
	font-weight: 900;
	margin-top: 20px;
	font-family: "Outfit", sans-serif;
    text-align: center;
}

.sub-heading {
	font-size: 1.5rem;
	font-weight: 700;
	margin-top: 10px;
	color: #393525;
	margin-bottom: 50px;
	font-family: "Outfit", sans-serif;
    text-align: center;
}


/* .video{
    padding-top: 50px;
     background-color: #3935259b;
     height: 120vh;
     padding-left: 30px;
} */


.content-container{
    padding-top: 50px;
     background-color: #312e23c8;
      padding-left: 30px;
      /* height: 140vh; */
      color: aliceblue;

}

p {
    white-space: pre-line;
line-height: 26px;
}

.line {
    margin: 10px 0;
    border-top: 1px solid #ccc;
}

.blank{
    height: 100px;
}